<html>
    <%- include('./partial/head', { title })%>
    <body>
        <%- include('./partial/navbar')%>
        <h2><%= message.username %></h2>
        <p><%= message.usermessage %></p>
        <p><%= message.added %></p>
    </body>
</html>

