<html>
    <%- include('./partial/head', { title })%>
    <body>
        <%- include('./partial/navbar')%>
        <% messages.forEach(function(message) { %>
            <div class='card'>
                <h3><%= message.username %></h3>
                <p><%= message.usermessage %></p>
                <a href="/detail/<%= message.id %>">details</a>
                <a href="/delete/<%= message.id %>">delete</a>
            </div>
        <% }); %>
    </body>
</html>
